@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800;900&family=Source+Serif+Pro:wght@200;300;400;600;700;900&family=Spline+Sans+Mono:wght@300;400&display=swap");
@media only screen and (max-width: 600px) {
  .c-subtitle {
    font-size: 2px; /* Adjust this value as needed */
  }

  /* .con-description {
    font-size: 9px;
  font-weight: 500;
  } */
  .copy-code-container {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.c-subtitle {
  font-size: var(--font-sub-title);
  font-weight: 600;
  color: var(--subtitle-color);
}
.content {
  background-color: var(--content-bg);
}
.card-container {
  /* border: 2px solid #dde6e6; */
  border:none;
}
.c-logo {
  width: 50px;
  height: 50px;
}
.header-problem {
  background-color: #30fa52;
  border-radius: 5px;
  padding: 0px 7px;
}
.con-container {
  background-color: var(--con-description-bg);
  border-radius: 15px;
}
